- if current_user.try!(:stocking?, @article)
  = link_to 'ストック解除', [@article, current_user.stocks.find_by(article_id: @article)], method: :delete, remote: true, class: 'btn btn-primary'
- else
  = link_to "ストック", article_stocks_url(@article), method: :post, remote: true, class: 'btn btn-primary'
