.userPage_ribbon
  #{link_to @user.name, @user} / フォロワー

.tableList
  - @followers.each do |user|
    .tableList_item
      .tableList_avatarCell
        = avatar_image_tag(user, 48)
      .tableList_cell
        = link_to user.name, user
      .tableList_cell

= paginate @followers
