%h1= @user.name

.user-follow-form
  = render partial: 'follow_form', locals: {user: @user}

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Title
      %th Author

  %tbody
    - @user.articles.published.includes(:author).each do |article|
      %tr
        %td= link_to article.title, article
        %td= link_to article.author.name, article.author
