.feedpage-header
%ul.nav.nav-tabs
  -# [review] 4行目と5,6.7行目で ハッシュの書き方が統一されていないのが気になりました。
  %li{class: current_page?(root_path) && "active"}= link_to 'フィード', root_path
  %li{:class => current_page?(articles_path) && "active"}= link_to 'すべての投稿', articles_path
  %li{:class => current_page?(stocks_path) && "active"}= link_to 'ストック', stocks_path
  %li{:class => current_page?(mine_path) && "active"}= link_to '自分の投稿', mine_path
