%h1 タグ一覧

.tagsIndexTagsList
  - @tags.each do |tag|
    .row
      .col-sm-4
        %span.label.label-info= link_to tag.name, tag_path(tag.name)
        .tagsIndexTagsList_status
          #{tag.taggings_count} 投稿
          •
          #{tag.users.count} フォロワー
      .col-sm-8
        - tag.articles.limit(5).each do |article|
          %ul.list-unstyled
            %li= link_to(article.title, article)
    .tagsIndexTagsList_divider

-# TODO: pagenation対応の際、most_used_in_publishedでエラーになるため対処が必要