// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title-area {
  margin-bottom: 30px;
}

.article-title {
  margin-top: 0;
}

.tag-area {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.article-contorl {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}